<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcpControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TcpControl.Properties.Settings>
            <setting name="InboundPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutboundHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OutboundPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InboundToOutboundDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutboundToInboundDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
        </TcpControl.Properties.Settings>
    </userSettings>
</configuration>